@font-face {
	font-family: Billionaire;
	src:url("./BillyMoneyRegular-JReoj.ttf");
}

*{
	padding: 0;
	margin: 0;
	outline: 0;
}
header {
	background-color: black;
	height: 100px;
}

a {
	text-decoration: none;
	color: #DAA520;
}

a:hover{
	 color: white;
}

a:active{
	color: #DAA520;
}

span {

	color: #DAA520;
}

nav ul{
	padding-top: 2%;
}

nav ul li {
	list-style: none;
	font-family: Billionaire;
	font-size: 36px;
	color: #DAA520;
}

header nav ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	font-family: Billionaire;
	color: white;
	background-color: rgb(32, 32, 32);

	height: 700px;
}

main h1 {
	font-size: 48px;
}
main section .section-left {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

main input {
	font-size: 30px;
}

main select {
	background-color: gray;
	color: #DAA520;

	border: 1px solid black;
	border-radius: 2px;

	height: 40px;
	width: 60px;

	font-size: 16px;
	font-weight: bold;
}

main button {
	height: 30px;
	width: 80px;
	background-color: gray;
	color: #DAA520;	
	border: 1px solid black;
	border-radius: 2px;

}

main h3 {
	font-size: 50px;
}

main p {
	font-size: 78px;
	color: #DAA520;

	padding-top: -5%;
}

footer{
	font-family: Billionaire;
	font-size: 36px;
	background-color: black;
	color: #DAA520;

	padding: 2%;
}

@media (max-width: 1054px) {

	a {
	text-decoration: none !important;
	color: #DAA520 !important;
	}

	a:hover{
		 color: white;
	}

	a:active{
		color: #DAA520;
	}
    /*** HEADER ***/

    nav ul li {
	list-style: none !important;
	font-family: Billionaire;
	font-size: 48px;
}
    main {
    	height: 1600px;
    }
    main h1 {
    	font-size: 80px;
    	width: 600px;
    	text-align: center;
    }

    main input {
    	font-size: 60px;
    }

    main h3 {
		font-size: 60px;
	}

	main select {
		background-color: gray;
		color: #DAA520;

		border: 1px solid black;
		border-radius: 2px;

		height: 80px;
		width: 120px;

		font-size: 48px;
	}
	main p {
		font-size: 98px;
		color: #DAA520;

		padding-top: -5%;
	}

	main button {
		height: 60px;
		width: 160px;
		background-color: gray;
		color: #DAA520;	
		border: 1px solid black;
		border-radius: 2px;
	}

	main button i {
		font-size: 48px;
	}

	footer h2 {
		font-size: 68px;
		height: 100px;
	}



   }

@media (max-width: 614px) {
    input {
    	font-size: 60px;
    }
}

@media (max-width: 414px) {}